---
import Layout from "../layouts/Layout.astro";
---

<style>

    body {

background-color: antiquewhite;
    }
    </style> 
    


<Layout title >

    <h1>Charlas</h1>

<a href="/">Volver </a>

</Layout>