---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import Footer from '../components/footer.astro';
import style from '../style/global.css';

---

<style>

    body {

background-color: antiquewhite;
    }
    </style> 

<Layout>
<body>

	<h1>Bienvenido a DevFest. </h1>

	<a href="/Home/">Homepage</a>

	<a href="/Organizadores/">Organizadores</a>

	<a href="/Ponentes/">Ponentes</a>

	<a href="/Charlas/">Charlas</a>
	
	<a href="/Agenda/">Agenda</a>

	
</body>
  
  <Footer />
</Layout>
