---
import Layout from "../layouts/Layout.astro";
---

<style>

    body {

background-color: antiquewhite;
    }
    </style> 

    
<Layout>

<h1>Organizadores</h1>

<a href="/">Volver </a>

</Layout>