---
import Colaborador from './Colaborador.astro';

const colaboradores = [
  {
    nombre: 'Angie M. I. V.',
    rol: 'Web Engineer',
    foto: 'https://github.com/AngieMiv.png',
    redes: {
      linkedin: 'https://www.linkedin.com/in/angiemiv/',
      github: 'https://github.com/AngieMiv',
      instagram: 'https://www.instagram.com/angiemiv/',
    },
  },
  {
    nombre: 'Belén Suarez',
    rol: 'Web Engineer',
    foto: 'https://github.com/belensuarez477.png',
    redes: {
      linkedin:
      'https://www.linkedin.com/in/belen-suarez-42a4331b5/',
      github: 'https://github.com/belensuarez477',
    },
  },
  {
    nombre: 'Glòria Monzó',
    rol: 'Web Engineer',
    foto: 'https://github.com/Aredhel269.png',
    redes: {
      linkedin:
        'https://www.linkedin.com/in/gloriamonzo240879',
      github: 'https://github.com/Aredhel269',
    },
  },
  {
    nombre: 'Raúl Gambalonga',
    rol: 'Web Engineer',
    foto: 'https://github.com/RaulGamBalonga.png',
    redes: {
      linkedin: 'https://www.linkedin.com/in/raul-gambalonga/',
      github: 'https://github.com/RaulGamBalonga',
    },
  },
];
---

<section id="colaboradores" class="p-10 scroll-mt-24">
  <h2
    class="text-4xl dark:text-sky-100 font-bold font-mono
    text-center mb-8"
  >
    Colaboradores
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
    {
      colaboradores.map((colab) => (
        <Colaborador
          nombre={colab.nombre}
          rol={colab.rol}
          foto={colab.foto}
          redes={colab.redes}
        />
      ))
    }
  </div>
</section>
