---
import Colaborador from './Colaborador.astro';

const colaboradores = [
  {
    nombre: 'anom.',
    rol: 'Web Engineer',
    foto: '',
    redes: {
      linkedin: 'https://www.linkedin.com/',
      github: 'https://github.com',
      instagram: 'https://www.instagram.com',
    },
  },
];
---

<section id="colaboradores" class="p-10 scroll-mt-24">
  <h2
    class="text-4xl dark:text-sky-100 font-bold font-mono
    text-center mb-8"
  >
    Colaboradores
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
    {
      colaboradores.map((colab) => (
        <Colaborador
          nombre={colab.nombre}
          rol={colab.rol}
          foto={colab.foto}
          redes={colab.redes}
        />
      ))
    }
  </div>
</section>
