---
import Card from './Card.astro';
import Section from './Section.astro';

const colaboradores = [
  {
    name: 'Mánu Fosela',
    role: 'Head of Engineering at Geniova',
    picture: '/colaboradores/manu-fosela.jpg',
    socials: {
      linkedin: ' https://www.linkedin.com/in/manufosela/ ',
    },
  },
  {
    name: 'Jorge Castillo',
    role: 'Creator of Effective Android',
    picture: '/colaboradores/jorge-castillo.jpg',
    socials: {
      linkedin: 'https://www.linkedin.com/in/jorgecastillopr/',
    },
  },
];
---

<Section id="colaboradores" title="Colaboradores">
  {
    colaboradores.map((colab) => (
      <Card
        name={colab.name}
        role={colab.role}
        picture={colab.picture}
        socials={colab.socials}
        variant="slate"
      />
    ))
  }
</Section>
