---
import Card from './Card.astro';
import Section from './Section.astro';

const colaboradores = [
  {
    name: 'Angie M. I. V.',
    picture: 'https://github.com/AngieMiv.png',
    socials: {
      linkedin: 'https://www.linkedin.com/in/angiemiv/',
      github: 'https://github.com/AngieMiv',
      instagram: 'https://www.instagram.com/angiemiv/',
    },
  },
  {
    name: 'Belén Suarez',
    picture: 'https://github.com/belensuarez477.png',
    socials: {
      linkedin:
        'https://www.linkedin.com/in/belen-suarez-42a4331b5/',
      github: 'https://github.com/belensuarez477',
    },
  },
  {
    name: 'Glòria Monzó',
    picture: 'https://github.com/Aredhel269.png',
    socials: {
      linkedin: 'https://www.linkedin.com/in/gloriamonzo240879',
      github: 'https://github.com/Aredhel269',
    },
  },
  {
    name: 'Raúl Gambalonga',
    picture: 'https://github.com/RaulGamBalonga.png',
    socials: {
      linkedin: 'https://www.linkedin.com/in/raul-gambalonga/',
      github: 'https://github.com/RaulGamBalonga',
    },
  },
];
---

<Section id="desarrolladores" title="Desarrolladores">
  {
    colaboradores.map((colab) => (
      <Card
        name={colab.name}
        picture={colab.picture}
        socials={colab.socials}
        variant="purple"
      />
    ))
  }
</Section>
