---
import Socials from './Socials.astro';
---

<footer
  class="flex flex-col items-center justify-center
  bg-white dark:bg-gray-950/40 p-5 text-center text-black dark:text-white"
>
  <div class="mb-3 scale-120">
    <Socials
      nombre="GDG Aranjuez"
      linkedin="https://www.linkedin.com/company/gdg-aranjuez/posts/?feedView=all"
      twitter="https://x.com/GDGAranjuez"
    />
  </div>

  <!--  Call for Papers -->
  <a
    href="https://sessionize.com/devfest-aranjuez-2025/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Call for Papers
  </a>

  <p class="text-sm text-gray-600 dark:text-gray-200">
    &copy; 2025 Todos los derechos de autor reservados.
  </p>
</footer>