<head>
  <!-- Fuente tech opcional -->
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
    rel="stylesheet"
  />
  <style>
    .nav-link {
      position: relative;
    }
    .nav-link::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      left: 0;
      bottom: -2px;
      background: linear-gradient(90deg, #2563eb, #3b82f6);
      transition: width 0.3s ease-in-out;
    }

    .nav-link:hover::after {
      width: 100%;
    }
  </style>
</head>

<nav
  class="sticky top-0 z-50 glass-bg shadow-lg
  bg-blue-200/50 dark:bg-gray-800
  w-full mx-auto mb-8 px-6 py-4 font-[Orbitron]"
>
  <!-- Header (all navbar) -->
  <div class="flex justify-between items-center flex-nowrap">
    <!-- Logo -->
    <a
      href="/"
      class="text-2xl font-extrabold text-transparent bg-clip-text mr-5
        bg-gradient-to-r from-blue-600 via-purple-500 to-pink-500 drop-shadow min-w-max"
    >
      DevFest 2025
    </a>

    <!-- Hamburguer menu (only visible in mobile) -->
    <button
      id="menu-toggle"
      class="lg:hidden text-gray-800 dark:text-gray-200 flex-nowrap focus:outline-none"
      aria-label="Abrir menú de navegación"
      aria-expanded="false"
      aria-controls="menu"
    >
      <!-- icon -->
      <svg
        class="w-7 h-7 ml-4"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        >
        </path>
      </svg>
    </button>

    <!-- Navigation menu -->
    <div
      id="menu"
      class="hidden w-full flex-col space-y-3
        text-lg font-medium text-gray-700
        lg:flex lg:flex-row justify-between mx-10 lg:space-y-0 lg:space-x-10"
    >
      <!-- "El evento" dropdown -->
      <div class="relative group">
        <a
          role="button"
          id="el-evento-button"
          class="nav-link flex mb-1 items-center justify-between text-gray-800 dark:text-gray-200
          hover:text-blue-700 dark:hover:text-blue-200 transition"
          aria-haspopup="true"
          aria-expanded="false"
        >
          El evento
          <svg
            class="w-4 h-4 ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path d="M5.25 7.5L10 12.25L14.75 7.5H5.25Z"></path>
          </svg>
        </a>

        <!-- Submenu -->
        <ul
          id="el-evento-submenu"
          class="hidden flex-col lg:absolute left-0 pl-3 w-52 rounded-md bg-white/80
              group-hover:opacity-100 group-hover:pointer-events-auto
              absolute z-[99] top-[100%] shadow-lg duration-200"
        >
          <li>
            <a
              href="/#organizadores"
              class="nav-link hover:text-blue-700 transition"
            >
              Organizadores
            </a>
          </li>
          <li>
            <a
              href="/#agenda"
              class="nav-link hover:text-blue-700 transition"
            >
              Agenda
            </a>
          </li>
          <li>
            <a
              href="/#charlas"
              class="nav-link hover:text-blue-700 transition"
            >
              Charlas
            </a>
          </li>
          <li>
            <a
              href="/#ponentes"
              class="nav-link hover:text-blue-700 transition"
            >
              Ponentes
            </a>
          </li>
          <li>
            <a
              href="/#colaboradores"
              class="nav-link hover:text-blue-700 transition"
            >
              Colaboradores
            </a>
          </li>
          <li>
            <a
              href="/#patrocinadores"
              class="nav-link hover:text-blue-700 transition"
            >
              Patrocinadores
            </a>
          </li>
        </ul>
      </div>
      <div class="">
        <a
          href="https://www.eventbrite.com/e/devfest-2025-tickets-1361371561989?aff=oddtdtcreator"
          target="_blank"
          class="nav-link font-bold text-orange-700 dark:text-orange-300
          hover:text-blue-700 hover:dark:text-orange-400 transition"
        >
          ENTRADAS
        </a>
      </div>
      <div class="shrink-0">
        <button
          id="theme-toggle"
          class="cursor-pointer transition-transform duration-300 hover:scale-110 hover:-rotate-12"
          aria-label="Cambiar modo claro oscuro"
        >
          <img
            src="/icons/sol.png"
            alt="Modo claro oscuro"
            class="inline-block w-6 h-6 ml-2 align-middle object-contain shrink-0"
          />
        </button>
      </div>
    </div>

    <!-- Script: hamburguer menu + mobile submenu-->
    <script is:inline>
      const toggle = document.getElementById('menu-toggle');
      const menu = document.getElementById('menu');

      // Close links onclick and set atribb:aria-expanded
      if (toggle && menu) {
        toggle.addEventListener('click', () => {
          const isExpanded =
            toggle.getAttribute('aria-expanded') === 'true';
          toggle.setAttribute(
            'aria-expanded',
            String(!isExpanded)
          );
          menu.classList.toggle('hidden');
        });

        // Close links on click
        const links = menu.querySelectorAll(
          'a, #theme-toggle, #el-evento-button'
        );
        links.forEach((link) => {
          link.addEventListener('click', () => {
            menu.classList.add('hidden');
            submenu.classList.toggle('hidden');
          });
        });
      }

      // "El evento" submenu in mobile
      const elEventoButton = document.getElementById(
        'el-evento-button'
      );
      const submenu = document.getElementById(
        'el-evento-submenu'
      );

      elEventoButton?.addEventListener('click', (e) => {
        e.preventDefault();
        const isExpanded =
          elEventoButton.getAttribute('aria-expanded') ===
          'true';
        elEventoButton.setAttribute(
          'aria-expanded',
          String(!isExpanded)
        );
      });
    </script>
  </div>
</nav>
