---
import Card from './Card.astro';
import Section from './Section.astro';

const ponentes = [
  {
    name: 'Ponente pendiente',
    role: '',
    picture:
      'https://api.dicebear.com/9.x/identicon/svg?radius=50&seed=ponente1',
    socials: {
      twitter: '',
      linkedin: '',
    },
  },
];
---

<Section id="ponentes" title="Ponentes">
  {
    ponentes.map((pon) => (
      <Card
        name={pon.name}
        role={pon.role}
        picture={pon.picture}
        variant="blue"
      />
    ))
  }
</Section>
