---
import Card from './Card.astro';
import Section from './Section.astro';
import { ponentes } from '@/data/speakers.ts';
---

<Section id="ponentes" title="Ponentes">
  {
    ponentes.map((pon) => (
      <Card
        name={pon.name}
        role={pon.role}
        picture={pon.picture}
        socials={pon.socials}
        variant="blue"
      />
    ))
  }
</Section>
