---
import Ponente from './Ponente.astro';
const ponentes = [
  {
    nombre: 'Ponente pendiente',
    cargo: '',
    foto: 'https://api.dicebear.com/9.x/identicon/svg?radius=50&seed=ponente1',
    redes: {
      twitter: '#',
      linkedin: '#',
    },
  },
];

const estilosPonentes = {
  sombra: 'shadow-lg hover:shadow-2xl',
};
---

<section id="ponentes" class="p-10 scroll-mt-24">
  <h2
    class="text-4xl dark:text-sky-100 font-bold font-mono
    text-center mb-8"
  >
    Ponentes
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
    {
      ponentes.map((pon) => (
        <Ponente
          nombre={pon.nombre}
          cargo={pon.cargo}
          foto={pon.foto}
          estilos={estilosPonentes}
        />
      ))
    }
  </div>
</section>
